config QTI_HFI_CORE
	bool "HFI Core"
	depends on QCOM_SMEM
	select QCOM_MDT_LOADER if ARCH_QCOM
	select QCOM_SCM
	select QCOM_PIL_INFO
	help
	  Enable the hfi_core module

config HFI_CORE_DEBUG_FS
	bool "HFI Core Debug"
	help
	  Enable the hfi_core debug module

config HFI_CORE_SERAPH
	bool "HFI Core Seraph"
	help
	  flag for seraph target

config QTI_HW_FENCE
	bool "HFI Core Use HW Fence"
	help
	  Enable integration of the HW Fences synchronization framework in
	  the HFI Core driver. When enabled, HFI Core uses SYNX-based apis
	  to initialize and deinitialize DCP hw fence client.

	  This option should be enabled on platforms where the SYNX framework
	  and DCP firmware support hardware fence synchronization.
